@model Dashboard.ViewModels.LoginViewModel
<div id="loginForm">
    <div ng-controller="LoginController as lc" ng-init="lc.init('@Model.RedirectUri')">
        <h2>Use a local account to log in.</h2>

        <fieldset>
            <legend>Log in Form</legend>
            <div>
                <div>
                    <label>Username:</label>
                    <input type="text" class="form-control" ng-model="lc.username" />
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" class="form-control" ng-model="lc.password" />
                </div>
            </div>
            <input type="button" ng-click="lc.logIn()" value="Log in" />
        </fieldset>
        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    </div>
</div>
