@model Dashboard.ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @{if (Model.UserLoggedIn)
    {
          {
              Html.RenderPartial("~/Views/Home/Dashboard.cshtml", new Dashboard.ViewModels.DashboardViewModel(Model.RedirectUri));
          }
        
    }

    else
    {
        <section id="login">
            @{Html.RenderPartial("~/Views/PartialView/_LoginPartial.cshtml", new Dashboard.ViewModels.LoginViewModel(Model.RedirectUri));}
        </section>
        }
        }
   